<div>
  <h5>ROOM</h5><p>{{movie.room}}</p><h4>{{movie.title}}</h4>
  <img [src]="movie.poster" alt="PosterMovie">
</div>
<div>
  <div>
    <h4>Genres</h4>
    <ul *ngFor="let genre of movie.genres">
      <li>{{genre}}</li>
    </ul>
  </div>
    <div>
    <h4>Year</h4>
    <p>{{movie.year}}</p>
  </div>
  <div>
    <h4>Actors</h4>
    <ul *ngFor="let actor of movie.actors">
        <li>{{actor}}</li>
    </ul>
  </div>
  <div>
    <h4>Schedule</h4>
    <ul *ngFor="let hour of movie.hours">
        <li>{{hour}}</li>
    </ul>
  </div>
  <div>
    <h4>Synopsis</h4>
    <p>{{movie.synopsis}}</p>
  </div>
  <a [routerLink]= "['']" class="btn btn-primary">Go home</a>
</div>

